.heroContainer {
  position: relative;
}
.heroSection {
  min-height: 99.9vh;
  background: url("/1.webp"),
    linear-gradient(
        104deg,
        #285672 5.73%,
        rgba(0, 0, 0, 0) 52.08%,
        #285672 100%
      )
      lightgray 50% / cover no-repeat;
  background-size: cover;
  padding: 0.5rem 3.5rem;
}
.heroCenter {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  color: white;
  padding: 2rem 4rem;
  width: 95%;
  margin: auto;
  gap: 1rem;
}
.heroCenter p {
  width: 90%;
  margin-inline: auto;
}

@media screen and (max-width: 746px) {
  .heroCenter {
    margin-top: 2.5rem;
    padding: 1rem;
    width: 100%;
    top: 45%;
    margin-top: 0;
  }
  .heroSection {
    background-position: center;
    min-height: 70vh;
    padding: 0.5rem 1rem;
  }
}
