.heroContainer{
	background-image: url(../../../public/heroBg.png);
	min-height: 99.9vh;
}

.heroCenter{
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	padding: 2rem 4rem;
	width: 90%;
	margin: 15% auto 0;
	gap: 1rem;
}