* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "helNeue";
  src: url("../../fonts/helvetica-neue/HelveticaNeueLight.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
h1 {
  font-weight: 200 !important;
}
h2 {
  font-weight: 300 !important;
}
h1 {
  font-size: 4rem !important;
}
h2 {
  font-size: 3rem !important;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 700 !important;
}
h5 {
  font-size: 1.8rem;
}
.navbar-brand img {
  width: 80%;
  margin-inline: auto;
  height: auto;
}
p {
  font-weight: 300 !important;
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
}

/* Utility Classes */
@media screen and (max-width: 991.98px) {
  .offcanvas-lg {
    background: url("/footerBG.png") !important;
    background-size: cover !important;
    color: white !important;
    font-family: helNeue;
    font-size: 1.1rem !important;
  }
  .offcanvas-header {
    padding-inline: 2rem !important;
  }
  .btn-close {
    margin-inline: auto 0 !important;
  }
}

.bg-pg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    15deg,
    rgba(255, 255, 255, 0.5002333697150736) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(255, 255, 255, 0.4974322492668942) 100%
  );
}
.navbar-nav {
  justify-content: space-between;
  padding-inline: 2rem;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-toggler {
  border: none !important;
}
.navbar-toggler-icon {
  background-image: url("/navbarToggler.svg") !important;
}
.navbar-nav a {
  padding: 0 1rem;
}
.heroContainer {
  min-height: 99.9vh;
  background: url("../../public/1.png"),
    linear-gradient(
      180deg,
      #285672 0%,
      rgba(0, 0, 0, 0) 33.85%,
      rgba(0, 0, 0, 0) 75.52%,
      #285672 100%
    );
  background-size: cover;
}
.heroCenter {
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  color: white;
  padding: 2rem 4rem;
  width: 90%;
  margin: auto;
  gap: 1rem;
}
.heroCenter p {
  width: 90%;
  margin-inline: auto;
}
.lBtn,
.heroBtn {
  padding: 0.7rem 2rem !important;
  justify-content: space-between;
  align-items: center;
  display: flex !important;
  gap: 1rem !important;
  border-radius: 5px !important;
  background-color: #5bd9ff !important;
  color: black !important;
  border: none !important;
  transition: all 0.25s ease !important;
  transition-delay: 0.25s !important;
  position: relative;
}
.lBtn:hover {
  transform: translate(0.5px, -0.5px);
  box-shadow: rgba(0, 0, 0, 0.4) 5px 50px, rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(74, 74, 74, 0.2) 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  z-index: 9;
}
.heroBtn {
  margin-top: 2rem !important;
  background-color: #000000 !important;
  color: white !important;
}
.servicesSection {
  background: url("/2.png"),
    linear-gradient(
      91.16deg,
      #217bd8 -1%,
      rgba(0, 0, 0, 0) 16.09%,
      rgba(0, 0, 0, 0) 74.76%,
      #217bd8 102.1%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-size: cover;
  text-align: center;
  padding: 4rem 3rem;
  position: relative;
  color: white;
}
.servicesSection .card {
  color: white;
}
.servicesSection::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
.mView {
  display: none;
}
.servicesSection h2 {
  z-index: 2;
  position: relative;
  margin-bottom: 4rem !important;
}
.servicesSection button {
  z-index: 2;
  margin-top: 3rem;
  margin-inline: auto;
}
.dView {
  flex-direction: row;
  gap: 2rem;
  display: flex;
}
.servicesSection .card {
  background-color: transparent;
  text-align: left;
  color: white;
  z-index: 2;
}
.serviceIcon {
  color: #5bd9ff;
  font-size: 3rem;
}
.servicesSection .card-title {
  min-height: 3.8rem;
  margin-top: 2rem;
}
.servicesSection .card-title h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.boatSection {
  background: url("/yatcchBG.png");
  background-size: cover;
  padding: 2rem 4rem;
  color: white;
}
.filming {
  background: linear-gradient(
      104.19deg,
      #5bd9ff -10%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 78.65%,
      #5bd9ff 110%
    ),
    url("/4.png");
  background-size: cover;
  padding: 4rem 3rem;
  color: white;
}
.filming .card {
  color: white;
}
.filming .container-fluid {
  margin-top: 4rem;
}
.events h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.boatSection img {
  background: linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    ),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
  border-radius: 1rem;
  width: 100% !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.imgDv {
  width: 100%;
  padding: 4rem 2rem;
}
.boatSection a {
  text-decoration: none;
  color: #217bd8;
  font-weight: 800;
  display: block;
}
.weddingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
}
.weddingSection,
.corpText {
  color: white;
  padding: 4rem;
  gap: 2rem;
}
.weddingFx {
  gap: 2rem;
}
.weddingSection img,
.corporateSection img {
  width: 100%;
  height: auto;
}
.weddingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
}
.corporateSection {
  background: linear-gradient(0deg, #061d36, #061d36),
    linear-gradient(0deg, #083461, #083461);
}
.poolImg img {
  width: 100%;
  height: auto;
}
.bookingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
  padding: 4rem 3rem;
  color: white !important;
}
.bookingSection h3 {
  font-size: 2.5rem;
  font-weight: 900 !important;
  margin-bottom: 1.5rem !important;
}
.footerSection {
  background: url("/footerBG.png"), linear-gradient(0deg, #061d36, #061d36),
    linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );

  background-size: cover;
  color: white;
  padding: 4rem 3rem;
  position: relative;
}
.footer {
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
  display: flex;
}
.footer input {
  height: 3rem;
  width: 88.59%;
  outline: none;
  border-radius: 4px;
  padding: 1.5rem 1rem;
  border: none;
  background: #0000004d;
}
.footer button {
  height: 3rem;
  outline: none;
  background-color: #0000004d;
  border: none;
  border-radius: 0 4px 4px 0;
  padding-right: 1rem;
}
.footer button svg {
  stroke: white;
}
.footer a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  height: 3rem;
  vertical-align: middle;
}
.footer a svg {
  width: 2.5rem;
  height: 2.5rem;
}
.footer a > p {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}
.footer ul li {
  margin-block-end: 1rem;
}
.footer h5 {
  font-weight: 700 !important;
  margin-bottom: 2rem !important;
}
.footer img {
  width: 100%;
}
.fc1 {
  gap: 2rem;
}
.boatSection h3 {
  font-weight: 700 !important;
}
.mob-icon {
  padding: 1rem;
  border: 1px solid #5bd9ff;
}
.mob-icon svg {
  color: #5bd9ff;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 3;
  position: relative;
}
.iconNav {
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.activeTab {
  background-color: #5bd9ff;
}
.activeTab svg {
  color: #000000;
}
.instabox {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}
.instabox > div:nth-child(1) {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.17);
}
.copyrightSection {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-self: center;
  padding: 1rem 0;
}
.copyrightInner {
  width: 40%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.copyrightSection p {
  font-size: 0.9rem;
  margin: 0 !important;
}
.t-muted {
  opacity: 0.5;
}
@media screen and (min-width: 992px) {
  header .navbar {
    justify-content: space-between !important;
    padding-left: 3rem !important;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4.75rem !important;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 746px) {
  p {
    font-size: 1.1rem;
    text-align: center;
  }
  button {
    margin-inline: auto !important;
  }
  h1 {
    font-size: 1.75rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .events h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  .bookingSection h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  header .navbar {
    flex-wrap: nowrap !important;
  }
  .mView {
    display: block;
  }
  .dView {
    display: none !important;
  }
  .heroCenter {
    margin-top: 2.5rem;
    padding: 1rem;
    width: 100%;
  }
  .heroContainer > .navbar {
    flex-wrap: nowrap !important;
    padding-inline: 3rem 0 !important;
    justify-content: space-between !important;
  }
  .servicesSection .container-fluid {
    flex-direction: column;
  }
  .servicesSection {
    padding: 4rem 0;
    background: linear-gradient(
        54deg,
        #217bd8 0%,
        rgba(0, 0, 0, 0) 51.56%,
        #217bd8 100%
      ),
      url("/2.png"), lightgray 50% / cover no-repeat;
  }
  .servicesSection h2 {
    margin-bottom: 2rem !important;
    font-weight: 700 !important;
    color: #5bd9ff;
  }
  .filming h2 {
    color: #5bd9ff;
  }
  .events h2,
  .bookingSection h2 {
    font-weight: 900 !important;
  }
  .boatSection {
    padding: 2rem;
  }
  .filming {
    padding: 2rem;
  }
  .filming .flex-row {
    flex-direction: column !important;
  }
  .flex-row {
    flex-direction: column !important;
  }
  .weddingSection,
  .corporateSection {
    padding: 2rem;
    flex-direction: column !important;
  }
  .footer {
    flex-direction: column !important;
  }
  .footerSection {
    padding: 2rem;
  }
  .bookingSection {
    padding: 2rem 1rem;
  }
  .copyrightSection {
    bottom: 0;
    font-size: 0.8rem;
  }
  .copyrightSection p {
    font-size: 0.8rem;
  }
  .imgDv {
    padding: 2rem 0;
    position: relative;
  }
  .imgDv img {
    height: auto;
    object-fit: contain;
    display: none;
  }
  .filming .container-fluid {
    margin-top: 2rem;
  }
  .weddingFx {
    flex-direction: column;
  }
  .corpText {
    padding: 0;
  }
  .corporateSection img {
    margin-top: 2rem;
  }
  .imgDv h3 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    z-index: 3;
  }
  .boatSection {
    background-image: url("/3.png");
    background-size: cover;
    position: relative;
  }
  .boatSection > * {
    position: relative;
    z-index: 4;
  }
  .boatSection::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  .boatSection .textDiv {
    position: relative;
    z-index: 5;
    text-align: center;
  }
  .footerSection {
    padding: 2rem 0 0;
  }
  .footer {
    display: flex;
    gap: 2rem;
  }
  .footer p {
    text-align: left;
    font-size: 1rem !important;
  }
  .footer img {
    width: 80%;
    margin-right: auto;
    height: auto;
    margin-bottom: 3rem;
  }
  .footerTop {
    position: relative;
  }
  .footerTop::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-inline: auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
  .footer h4 {
    font-size: 1.1rem !important;
  }
  .footerBottom {
    justify-content: space-between !important;
  }
  .copyrightSection {
    position: relative;
  }
  .copyrightInner {
    width: 100%;
    justify-content: space-around;
    padding-inline: 1rem;
  }
  .m-lg {
    background: linear-gradient(
        180deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 45.31%,
        rgba(33, 123, 216, 0) 94.79%,
        #217bd8 100%
      ),
      #083461;
  }
  .m-lg2 {
    background: linear-gradient(
        180deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 45.31%,
        rgba(33, 123, 216, 0) 94.79%,
        #217bd8 100%
      ),
      #083461;
  }
  .m-lg3 {
    background: linear-gradient(
        208deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 14.06%,
        rgba(33, 123, 216, 0) 76.41%,
        #217bd8 100%
      ),
      url("/2.png"), lightgray 50% / cover no-repeat;
  }
}
