* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "helNeue";
  src: url("../../fonts/helvetica-neue/HelveticaNeueLight.ttf");
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap");
h1 {
  font-weight: 200 !important;
}
h2 {
  font-weight: 300 !important;
}
h1 {
  font-size: 4rem !important;
}
h2 {
  font-size: 3rem !important;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 700 !important;
}
h5 {
  font-size: 1.8rem;
}
p {
  font-weight: 300 !important;
  font-size: 1.2rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
}
/* Typography ends */

/* Buttons */
.lBtn,
.heroBtn {
  padding: 0.7rem 2rem !important;
  justify-content: space-between;
  align-items: center;
  display: flex !important;
  gap: 1rem !important;
  border-radius: 5px !important;
  background-color: #5bd9ff !important;
  color: black !important;
  border: none !important;
  transition: all 0.25s ease !important;
  transition-delay: 0.25s !important;
  position: relative;
  width: 11rem;
  z-index: 40;
}
.heroBtn {
  margin-top: 2rem !important;
  background-color: #000000 !important;
  color: white !important;
}
/* Buttons */

.logoImg {
  width: 72.5%;
  margin-inline: auto;
  height: auto;
}

/* Utility Classes */
.nav-link {
  color: #ffffff !important;
  font-family: "Gothic A1", sans-serif !important;
  font-size: 1.05rem !important;
}
.nav-link:hover {
  color: #5bd9ff !important;
}
section button {
  margin-inline: auto;
  text-align: center;
}
section {
  padding: 4rem 3rem;
}
.bg-pg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    15deg,
    rgba(255, 255, 255, 0.5002333697150736) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(255, 255, 255, 0.4974322492668942) 100%
  );
}
.mView {
  display: none;
}
/* Utitlity ends */

/* Header Section */
.navbar-nav {
  justify-content: space-between;
  padding-inline: 2rem;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-toggler {
  border: none !important;
  margin-inline: auto 0 !important;
}
.navbar-toggler-icon {
  background-image: url("/navbarToggler.svg") !important;
}
.navbar-nav a {
  padding: 0 1rem;
}
.navbar .logoImg {
  width: 12rem;
}
/* header ends */

/* Services  */

/* Services */

/* Boat Section */
.boatSection {
  background: url("/yatcchBG.webp");
  background-size: cover;
  padding: 2rem 4rem;
  color: white;
}
.imgDv {
  background: url("/3.webp");
  background-size: cover;
  width: 100%;
  padding: 4rem 2rem;
  position: relative;
  min-height: 48rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.imgDv h3 {
  position: absolute;
  top: 5.5rem;
  left: 4rem;
  font-size: 2rem;
}
.boatSection a {
  text-decoration: none;
  color: #217bd8;
  font-weight: 800;
  display: block;
}
.boatP {
  max-height: 4rem;
  overflow: hidden;
  transition: 0.75s ease all;
}
.boatPclicked {
  max-height: 30rem;
  overflow: visible;
  transition: 0.75s ease all;
}
/* Boat Secion */

/* Filming Section */

/* Filming */

/* Events */
.events h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
/* Events */

/* Wedding Secion */
.weddingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
}
.weddingSection,
.corpText {
  color: white;
  padding: 4rem;
  gap: 2rem;
}
.weddingFx {
  gap: 2rem;
  align-items: flex-start;
}
.corpImgDiv {
  background: url("/6.webp");
  background-size: cover;
  width: 100%;
  min-height: 24rem;
}
.weddingImg {
  background: url("/5.webp");
  background-size: cover;
  width: 100%;
  min-height: 24rem;
}
.weddingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
}
.wedding {
  max-height: 17.75rem;
  overflow: hidden;
  transition: 0.75s ease all;
}
.weddingClicked {
  max-height: 35rem;
  overflow: visible;
  transition: 0.75s ease all;
}
.corp {
  max-height: 18.25rem;
  overflow: hidden;
  transition: 0.75s ease all;
}
.corpClicked {
  max-height: 42rem;
  overflow: visible;
  transition: 0.75s ease all;
}
/* Wdding */

/* Corop section */
.corporateSection {
  background: linear-gradient(0deg, #061d36, #061d36),
    linear-gradient(0deg, #083461, #083461);
}
.poolImg {
  width: 100%;
  height: 42rem;
  background: url("/7.jpg");
  background-size: cover;
}
/* Copr */

/* Booking */
.bookingSection {
  background: linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );
  padding: 4rem 3rem;
  color: white !important;
}
.bookingSection h3 {
  font-size: 2.5rem;
  font-weight: 900 !important;
  margin-bottom: 1.5rem !important;
}
.buC {
  max-height: 2rem;
  overflow: hidden;
  transition: 0.75s ease all;
}
.bClicked {
  max-height: 19.5rem;
  transition: 0.75s ease all;
  overflow: visible;
}
/* Booking */

/* Footer Sectio */
.footerSection {
  background: url("/footerBG.webp"), linear-gradient(0deg, #061d36, #061d36),
    linear-gradient(0deg, #083461, #083461),
    linear-gradient(
      80.69deg,
      #217bd8 5.5%,
      rgba(0, 0, 0, 0) 33.48%,
      rgba(0, 0, 0, 0) 57.97%,
      #217bd8 95.96%
    );

  background-size: cover;
  color: white;
  padding: 4rem 3rem;
  position: relative;
}
.footer {
  justify-content: space-between;
  width: 90%;
  margin-inline: auto;
  display: flex;
}
.footer input {
  height: 3rem;
  width: 88.59%;
  outline: none;
  border-radius: 4px;
  padding: 1.5rem 1rem;
  border: none;
  background: #0000004d;
  color: white;
}
.footer input::placeholder{
  color: white;
}
.footer button {
  height: 3rem;
  outline: none;
  background-color: #0000004d;
  border: none;
  border-radius: 0 4px 4px 0;
  padding-right: 1rem;
  color: white;
}
.footer button svg {
  stroke: white;
}
.footer a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
  height: 3rem;
  vertical-align: middle;
}
.footer a svg {
  width: 2.5rem;
  height: 2.5rem;
}
.footer a > p {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}
.footer ul li {
  margin-block-end: 1rem;
}
.footer h5 {
  font-weight: 700 !important;
  margin-bottom: 2rem !important;
}
.fc1 {
  gap: 2rem;
}

.instabox {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}
.instabox > div:nth-child(1) {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.17);
}
.copyrightSection {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-self: center;
  padding: 1rem 0;
}
.copyrightInner {
  width: 40%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.copyrightSection p {
  font-size: 0.9rem;
  margin: 0 !important;
}
.t-muted {
  opacity: 0.5;
}

/* Footer Secion */

.boatSection h3 {
  font-weight: 700 !important;
}
.mob-icon {
  padding: 1rem;
  border: 1px solid #5bd9ff;
}
.mob-icon svg {
  color: #5bd9ff;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 3;
  position: relative;
}
.iconNav {
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.footer.mView {
  display: none;
}
.activeTab {
  background-color: #5bd9ff;
}
.activeTab svg {
  color: #000000;
}

@media screen and (max-width: 991.98px) {
  .offcanvas-lg {
    background: url("/footerBG.webp") !important;
    background-size: cover !important;
    color: white !important;
    font-family: helNeue;
    font-size: 1.1rem !important;
    width: 50% !important;
    border: none !important;
    border-radius: 20px 0 0 20px !important;
  }
  .offcanvas-lg .navbar-nav {
    margin-top: 2rem;
  }
  .offcanvas-header {
    padding-inline: 2rem !important;
  }
  .btn-close {
    margin-inline: auto 0 !important;
  }
  .dView {
    display: none;
  }
  .mView {
    display: block;
  }
  .weddingFx {
    flex-direction: column;
  }
  .corporateSection {
    flex-direction: column-reverse !important;
    padding: 2rem;
  }
   .imgDv {
    padding: 2rem 0;
    position: relative;
    min-height: 25rem;
  }
  .poolImg{
    max-height: 21rem;
  }
  .corpImgDiv{
    margin-block: 2rem;
  }
}
@media screen and (min-width: 992px) {
  header .navbar {
    justify-content: space-between !important;
    padding-left: 3rem !important;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4.75rem !important;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 747px) {
  p {
    font-size: 1.1rem;
    text-align: center;
  }
  h1 {
    font-size: 1.75rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .events h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  .bookingSection h3 {
    font-size: 2.2rem;
    text-align: center;
  }
  header .navbar {
    flex-wrap: nowrap !important;
  }
  .navbar-brand {
    margin-inline: auto !important;
  }

  .heroSection .navbar {
    flex-wrap: nowrap !important;
    padding-inline: 3rem 0 !important;
    justify-content: space-between !important;
  }

  .events h2,
  .bookingSection h2 {
    font-weight: 900 !important;
  }
  .boatSection {
    padding: 2rem;
  }
  .boatSection button {
    margin-inline: auto;
  }
  .boatP {
    max-height: 4rem;
    overflow: hidden;
    transition: 0.75s ease all;
  }
  .boatPclicked {
    max-height: 45rem;
    overflow: visible;
  }

  .flex-row {
    flex-direction: column !important;
  }
  .weddingSection {
    padding: 2rem;
    flex-direction: column !important;
  }

  .corporateSection img {
    margin-bottom: 2rem;
  }
  .weddingSection button {
    margin-inline: auto;
  }
  .wedding {
    max-height: 12.5rem;
    overflow: hidden;
    transition: 0.75s ease all;
  }
  .weddingClicked {
    max-height: 70rem;
    overflow: visible;
    transition: 0.75s ease all;
  }
  .corpText button {
    margin-inline: auto;
  }
  .corp {
    max-height: 18.25rem;
    overflow: hidden;
    transition: 0.75s ease all;
  }
  .corpClicked {
    max-height: 72.5rem;
    overflow: visible;
    transition: 0.75s ease all;
  }
  .footer {
    flex-direction: column !important;
  }
  .footerSection {
    padding: 2rem;
  }
  .bookingSection {
    padding: 2rem 1rem;
  }
  .bClicked {
    max-height: 56rem;
    overflow: visible;
  }
  .copyrightSection {
    bottom: 0;
    font-size: 0.8rem;
  }
  .copyrightSection p {
    font-size: 0.8rem;
  }
 

  .corpText {
    padding: 0;
  }
  .corporateSection img {
    margin-top: 2rem;
  }
  .imgDv h3 {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    z-index: 3;
    top: 0;
    left: 0;
  }
  .boatSection {
    background-image: url("/3.webp");
    background-size: cover;
    position: relative;
  }
  .boatSection > * {
    position: relative;
    z-index: 4;
  }
  .boatSection::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  .bookingSection button {
    margin-inline: auto;
  }
  .boatSection .textDiv {
    position: relative;
    z-index: 5;
    text-align: center;
  }
  .footerSection {
    padding: 2rem 0 0;
  }
  .mView .logoImg {
    margin-left: 19%;
  }
  .footer.mView {
    display: flex;
    gap: 2rem;
  }
  .footer p {
    text-align: left;
    font-size: 1rem !important;
  }
  .footer img {
    width: 60%;
    margin-right: auto;
    height: auto;
    margin-bottom: 3rem;
  }
  .footerTop {
    position: relative;
  }
  .footer .mView {
    display: flex;
  }
  .footerTop::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-inline: auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
  }
  .footer h4 {
    font-size: 1.1rem !important;
  }
  .footerBottom {
    justify-content: space-between !important;
  }
  .copyrightSection {
    position: relative;
  }
  .copyrightInner {
    width: 100%;
    justify-content: space-around;
    padding-inline: 1rem;
  }
  .m-lg {
    background: linear-gradient(
        180deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 45.31%,
        rgba(33, 123, 216, 0) 94.79%,
        #217bd8 100%
      ),
      #083461;
  }
  .m-lg2 {
    background: linear-gradient(
        180deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 45.31%,
        rgba(33, 123, 216, 0) 94.79%,
        #217bd8 100%
      ),
      #083461;
  }
  .m-lg3 {
    background: linear-gradient(
        208deg,
        #217bd8 0%,
        rgba(33, 123, 216, 0) 14.06%,
        rgba(33, 123, 216, 0) 76.41%,
        #217bd8 100%
      ),
      url("/2.webp"), lightgray 50% / cover no-repeat;
  }
}

.serviceIcon {
  color: #5bd9ff;
  font-size: 3rem;
}
